@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
@if (Request.Browser.Browser == "IE" && Request.Browser.MajorVersion <10)
{
<div class="row-fluid">
    <div class="span12">
        <p>
            <strong>You are using IE 9 or lower</strong>, which is not supported. Please upgrade to IE10+.  To achieve the full experience we highly recommend
            <i>Google Chrome</i> (download <strong>
                <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">here</a>
            </strong>).
            If you need assistance please contact us for more information.  Thanks
        </p>
    </div>
</div>
}
else{
<div class="row-fluid">
    <div class="span12">
        <p>Use this area to provide additional information.</p>
    </div>
</div>
}
