<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=beta;Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="Data Source=Localhost;Initial Catalog=desking;User ID=sa;password=Password1" providerName="System.Data.SqlClient" />
  <!--MultipleActiveResultSets=True-->
</connectionStrings>
