<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target xsi:type="Database"   name="dbLog">
      <dbProvider>sqlserver</dbProvider>
      <connectionString>Data Source=localhost; Initial Catalog=desking;User ID=sa;password=Password1;</connectionString>
      <commandText>INSERT INTO Log ([Date],[Level],[Logger],[Message],[Exception]) VALUES (@date, @level, @logger, @message, @exception)</commandText>

      <parameter name="@date" layout="${date}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@exception" layout="${exception}"/>

    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Warn" writeTo="dbLog" />
  </rules>
</nlog>
